html, body {
  margin: 0;
  padding: 0;
  background-color: #000; /* ensures full-page background */
}

.about-page {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  max-width: 1130px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 60px;
}

.about-heading {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.about-subtext {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 48px;
}

.features-grid {
  display: grid;
   grid-template-columns: repeat(3,1fr);
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}

.feature-card {
  background-color: transparent;
  border: 1px solid #ff7b00;
  border-radius: 12px;
  padding: 14px;
  text-align: left;
  transition: transform 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}

.feature-icon {
  color: #ff7b00;
  font-size: 28px;
  margin-bottom: 16px;
}

.feature-card h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p {
  color: #ccc;
  font-size: 15px;
  line-height: 1.5;
}
