.booking-wrapper {
  padding-top: 70px;
  background: #0a0a0a;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100vh;
}


.top-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.back-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.top-info h1 {
  font-size: 2rem;
  margin: 0;
}

.top-meta {
  display: flex;
  gap: 15px;
  font-size: 1.1em;
  margin: 8px 0;
}

.star {
  color: gold;
}

.price {
  color: orange;
}

.genres-time {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 0.95em;
  color: #ddd;
  align-items: center;
}

.genre-tag {
  color: white;
  background: #222;
  padding: 4px 10px;
  border-radius: 12px;
}

.dot {
  color: orange;
  font-weight: bold;
}

.booking-main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.booking-poster {
  width: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.booking-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.date-selector {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.date-btn {
  background: #1c1c1c;
  border: none;
  color: #fff;
  border-radius: 10px;
  min-width: 60px;
  padding: 8px 6px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.date-btn.active {
  background: orange;
  color: black;
  font-weight: bold;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.dropdown-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #050505;
  color: #fbf3f3;
  font-size: 1em;
}

.showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.time-btn {
  background: #1c1c1c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 1em;
  cursor: pointer;
}

.time-btn.active {
  background: orange;
  color: black;
  font-weight: bold;
}

.continue-btn {
  background: orange;
  color: black;
  font-weight: bold;
  padding: 14px 0;
  border-radius: 10px;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  width: 120px;
  align-self: left;
  margin-top: 20px;
}


.cinema-search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
}
