/* Cinemas.css */

.cinemas-page {
  background-color: #000;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cinemas-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cinemas-subtext {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cinema-search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.cinema-search-inpu {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  width: 300px;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.search-icon {
  background-color: orange;
  border: none;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

.cinema-action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.location-btn,
.show-all-btn {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid orange;
  background-color: black;
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.location-btn:hover,
.show-all-btn:hover {
  background-color: orange;
  color: black;
}

.cinema-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

.no-results {
  font-size: 1.1rem;
  color: #ccc;
}
